img.logo {
    max-width: 360px;
}  
@media(min-width: 1300px) { 
    .logo_white {
        color: #231F20;
        width: 139px;
    }


     body{
        background-image: url('../images/bg_section.png'); 
        height: 90vh;
        background-size: 177%;
        background-position: center;
    }

    
}

/* HEADER */


/* TEXTS */
h1,h2{
  color: #231F20; 
  font-weight: bold;
  letter-spacing: 1.1px;
}
h3{
  color: #6E6E6E;
  font-size: 21px;
  line-height: 1.4; 
  letter-spacing: 0.6px;
}
p{
  color: #9B9B9B; 
  letter-spacing: 1.1px;
}

/* BUTTONS */
 
.btn-primary,.btn-danger,button.btn.btn-light:after{ 
  padding: 5px 20px;
  border-radius: 16px;
  font-weight: bold; 
}
.btn-primary:after,.btn-danger:after,.btn-light:after  {
  content: '';
  width: 15px;
  height: 15px;
  position: relative;
  left: 5px; 
  bottom: 5px; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
}
button.btn.btn-danger.more {
  padding: 0 0 5px;
  line-height: initial;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-primary:after,.btn-danger:after{
  background-image: url(assets/icons/arrow.png);
}
.btn-primary:after,.btn-danger:after  {
  background-image: url(assets/icons/arrow.png); 
}
button.btn.btn-light:after { 
  content: ' '; 
  background-image: url(assets/icons/arrow_blue.png); 
}
.btn-danger.more:after{
  content:inherit      
}
.bg-primary{
  background: #034ea2!important; 
}
.btn-primary{ 
  background: #034ea2;
  border-color:#034ea2; 
}
button.btn.btn-primary.reset {
    background: #007bff;
    border: #007bff;
}
.btn-danger{  
  background:#F63852;
  border-color:#F63852;
}
/* SWIPER ARTICLES */
@media(min-width:1200px){
.articles_top {
position: relative;
background: #f3f3f3;
}
div#articles > div {
    position: relative;
    bottom: 4em;
}
}
.card {
box-shadow: 1px 7px 11px #dcdcdc;
border-radius: 15px; 
transition: .3s;
cursor: pointer;
}
.card:hover { 
transition: .3s;  
}


/* ARTICLES */
@media(min-width: 1300px) { 
  
   

    div#articles {
        /* max-width: 70%; */
        margin: 0 auto;
    }
}

 
div#articles > div {
    position: relative;
    bottom: 4em;
}
/* FOOTER */
footer.blog-footer.bg-primary {
    padding: 40px;
}


