/* body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

img.logo {
  max-width: 360px;
} 
 
@media(min-width: 1400px) {  
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1330px;
  }

}
@media(min-width: 1300px) {
  .logo_white {
    color: #231F20;
    width: 139px;
  } 
  body {
    background-image: url('../images/bg_section.png');
    height: 90vh;
    background-size: 177%;
    background-position: center;
  }
  img.logo {
    max-width: 489px;
}
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1330px;
}

/* HEADER */

/* SECTIONS */
 
/* TEXTS */

h1,
h2 {
  color: #231F20;
  font-weight: bold;
  letter-spacing: 1.1px;
}

h3 {
  color: #6E6E6E;
  font-size: 21px;
  line-height: 1.6;
  letter-spacing: 0.6px;
}

p {
  color: #9B9B9B;
  letter-spacing: 1.1px;
}

section p {
  line-height: 1.9;
}


/* BUTTONS */

.btn-primary,
.btn-danger,
button.btn.btn-light:after {
  padding: 5px 20px;
  border-radius: 16px;
  font-weight: bold;
}


.btn-primary:after,
.btn-danger:after,
.btn-light:after {
  content: '';
  width: 15px;
  height: 15px;
  position: relative;
  left: 5px;
  bottom: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
}

button.btn.btn-danger.more {
  padding: 0 0 5px;
  line-height: initial;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

 
}
.articles_top.reverse .card button.btn.btn-danger.more {
 
  position: absolute;
  right: 25px;
  margin-top: 5.8em;
}

.btn-primary:after,
.btn-danger:after {
  background-image: url(../icons/arrow.png);
}

.btn-primary:after,
.btn-danger:after {
  background-image: url(../icons/arrow.png);
}

button.btn.btn-light:after {
  content: ' ';
  background-image: url(../icons/arrow_blue.png);
}

.btn-danger.more:after {
  content: inherit
}

.bg-primary {
  background: #034ea2!important;
}

.btn-primary {
  background: #034ea2;
  border-color: #034ea2;
}

button.btn.btn-primary.reset {
  background: #007bff;
  border: #007bff;
}

.btn-danger {
  background: #F63852;
  border-color: #F63852;
}


/* SWIPER ARTICLES */

@media(min-width:1200px) { 
  
  .articles_top {
    position: relative;
    background: #f3f3f3;
  }
  .articles_top>div {
    position: relative;
    bottom: 4em;
  }
}


/* MINI CARDS */

.articles_top.reverse .card {
  display: flex;
  flex-direction: column-reverse;
  /* border-radius: 0; */
    min-width: 100%;
}
.articles_top.reverse .card .img-thumbnail{
  border-radius: 0;

}
.card {
  /* box-shadow: 1px 7px 11px #dcdcdc; */
  border-radius: 15px;
  transition: .3s;
  cursor: pointer;
}

.card:hover {
  transition: .3s;
}

.card-text {
  line-height: 1.5;
}
.card.bg-light .card-header{
  background-color: rgb(248 249 250) !important;
}
.card.bg-light h5 {
  color: #004b9f;
}
.card.text-white.bg-primary .card-body h5{
  color:#007bff;

}
/* SECTIONS */ 

section.bg-danger .card {
  box-shadow: 2px 9px 8px #bf3744;
}

.pather_element {
  max-width: 200px;
}

@media(min-width: 768px)   {
  
  .articles_top>div {
    position: relative;
    bottom: 4em;
  }
}
@media (min-width: 768px) and (max-height: 768px)   {
  .articles_top>div { 
    bottom: 0em !important; 
  }
  .carousel-caption {
    bottom: 20%;
}
  div#articles {
  
    height: auto !important;

  }
}
@media(min-width: 1300px) {
  div#articles {
    margin: 0 auto;
    padding: 20px 0;
    height: 37vh;

  }
  .articles_top>div { 
    bottom: 6em;
  }
  
}
@media(min-width: 1400px) {

  .articles_top>div {
    bottom: 13.3em;
  }
 
}



/* FOOTER */

footer.blog-footer.bg-primary {
  padding: 40px;
}



/* MAIN SWIPER */

.swiper-button-prev {
  top: 10%;
  left: inherit;
  right: 4em;
}

 .swiper-button-next{
  top: 10%;
  left: inherit;
  right:0em;
}