/* slide persona */

/* .carousel img { 
	min-width: 100%;
} */
/* .slide img {
    height: 540px;
} */
.carousel-control-prev-icon {
	background-image: url('../icons/preview.png');
}

.carousel-control-next-icon {
	background-image: url('../icons/next.png');
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  
    width: 30px;
    height: 30px; 
}
.carousel-caption .icon{
    width: 80px;

}


@media(max-width: 768px) {
	ol.carousel-indicators {
		display: none;
	}
}

@media(min-width: 768px) {
	
    .carousel-caption{
		bottom: 20%; 
    }
	ol.carousel-indicators {
		transform: rotate(90deg);
		bottom: 60%;
        left: inherit;
        right: -0%;
	}
	.carousel-indicators li {
		display: flex;
		width: 10px;
		height: 10px;
		border-radius: 70%;
		background: transparent;
		border: 2px solid white;
		align-items: center;
		justify-content: center;
		margin: 0 10px;
		border-radius: 50%;
	}
	.carousel-indicators li:before {
		content: '';
		width: 24px;
		height: 24px;
		background: transparent;
		position: absolute;
		display: block;
		border-radius: 50%;
		border: 1px solid white;
	}
	li.active {
		background: white;
	}
	 
}

@media(min-width: 1400px) { 
	.carousel{
		height: 75vh;
	}
	.carousel-caption h1, .carousel-caption h2 { 
		font-size: 4rem; 
		white-space: nowrap;
	}
	.carousel-caption {
		bottom: 35%;
	}
	
}